<div class="ui grid">
  <div class="stretched row top">
    <div class="eight wide column">
      <div class="ui red ratings">
        <app-rating-count></app-rating-count>
      </div>
      <div class="ui green clock">
        <app-world-clock></app-world-clock>
      </div>
    </div>
    <div class="four wide column blue">
      <app-social></app-social>
    </div>
    <div class="four wide column grey">
      <app-social></app-social>
    </div>
  </div>
  <div class="row bottom">
    <div class="four wide column yellow">
      <app-ping></app-ping>
    </div>
    <div class="four wide column purple">
      <app-tfl></app-tfl>
    </div>
    <div class="four wide column pink">
      <app-weather></app-weather>
    </div>
    <div class="four wide column violet">
      <app-weather></app-weather>
    </div>
  </div>
</div>
