.ui.grid {
  margin: 0;
}
.ui.grid > .row {
  padding: 0;
}
.ui.grid > .row > .column  {
  padding: 0;
}
.ui.grid > .row.top > .column  {
  height: 69.5vh;
}
.ui.grid > .row.bottom > .column  {
  height: 34vh;
}
.ui.grid > .row > .column > .green  {
  background-color: green;
}
.ui.grid > .row > .column > .ratings  {
  height: 70%;
}
.ui.grid > .row > .column > .clock  {
  height: 30%;
}
.ui.grid > .row > .column > .red  {
  background-color: red;
}
