<nav>
        <div class="menu-nav">
            <button md-icon-button (click)="closeMenu()"  class="close-button">
                <md-icon>clear</md-icon>
            </button>
            <button md-icon-button (click)="backMenu()"  class="back-button">
                <md-icon>keyboard_backspace</md-icon>
            </button>
        </div>
        <div class="list-container">
            <ul>
                <li *ngFor='let bible of bibles | async; let first = first; let last = last'
                (click)="selectBible(bible)"
                [class.first-item]="first"
                [class.last-item]="last">
                    <span>{{bible.full_name}}</span>
                </li>
            </ul>
        </div>
    </nav>