.menu-nav {
    position: fixed;
    width: 100%;
    min-height: 55px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

nav {
    overflow: hidden;
    height: 100%;
}

.menu-nav .close-button{
    float: right;
    background-color: white;
    border: 0;
    height: 55px;
    width: 55px;
}

.menu-nav .back-button{
    float: left;
    background-color: white;
    border: 0;
    height: 55px;
    width: 55px;
}

.list-container{
    height: 100%;
    margin-top: 55px;
    overflow-x: scroll;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    height: 15px;
    border-bottom: 1px solid black;
    padding: 13px 0 17px 20px;
}

li.first-item {
    border-top: 1px solid black;
}

li.last-item {
    padding-bottom: 71px;
}