<nav>
        <div class="menu-nav">
            <button md-icon-button (click)="closeMenu()"  class="close-button">
                <md-icon>clear</md-icon>
            </button>
            <button md-icon-button (click)="backMenu()"  class="back-button">
                <md-icon>keyboard_backspace</md-icon>
            </button>
        </div>
        <div class="list-container">
            <ul>
                <li *ngFor='let language of languages | async; let first = first; let last = last'
                 (click)="selectLanguage(language)"
                 [class.first-item]="first"
                 [class.last-item]="last">
                    <span>{{language | languageName}}</span>
                </li>
            </ul>
        </div>
    </nav>