<nav>
    <div class="menu-nav">
        <button md-icon-button (click)="closeMenu()"  class="close-button">
            <md-icon>clear</md-icon>
        </button>
    </div>
    <div>
        <ul>
            <li (click)="openLanguageMenu()" class="first">
                <div class="option-title">Language</div>
                <div class="current-selection">current: </div>
            </li>
            <li (click)="openBibleMenu()">
                <div class="option-title">Bible version</div>
                <div class="current-selection">current: </div>
            </li>
        </ul>
    </div>
</nav>