.ui.grid {
  margin: 0;
  height: 100%;
}
.ui.grid>.row>.centered.column {
    text-align: center;
    display: flex;
    justify-content: center;
}
.ratings-count{
  font-size: 9vw;
  color: white;
  font-style: normal;
  font-weight: 700;
  align-self: center;
}
iframe{
  align-self: center;
}
.rating-chart{
  position: absolute;
    bottom: 0;
}
