<div class="ui grid">
  <div class="center aligned row">
    <div class="centered column">
      <span class="ratings-count">{{ratingsCount}}</span>
    </div>
  </div>
  <div class="row">
    <div class="centered column">
  <canvas baseChart
          class="rating-chart"
          width="400"
          height="175"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>
