/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background: #eee;
}

button, input, textarea, select, a { outline: none; }

.mat-input-container.app-input-no-underline .mat-input-underline {
    display: none;
}